modules = ["nodejs-20", "web"]
run = "cd backend npm install npx prisma generate npx prisma db push npm run dev"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Backend"

[[workflows.workflow]]
name = "Start Frontend"
author = 44507174
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run dev"

[[workflows.workflow]]
name = "Start Backend"
author = 44507174
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install && npx prisma generate && npx prisma db push && npm run dev"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8001
externalPort = 80

[deployment]
run = ["sh", "-c", "cd frontend && npx serve out -s -l 3000"]
build = ["sh", "-c", "cd frontend && npm install && npm run build"]
